@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Rainbow School DataBase Manager!</h1>
    <img src="https://static.wixstatic.com/media/8e839b_a1e0a6d8a95f4fa6a64bef5e46c397cc~mv2.png/v1/fill/w_500,h_500,al_c/8e839b_a1e0a6d8a95f4fa6a64bef5e46c397cc~mv2.png" alt="Flowers in Chania">
</div>
